<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Night City Menu 2.3.3</string>
	<key>CFBundleExecutable</key>
	<string>NightCityConsole</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>dev.nightcityconsole.menu233</string>
	<key>CFBundleName</key>
	<string>Night City Menu 2.3.3</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3.3.1</string>
	<key>CFBundleVersion</key>
	<string>2.3.3.1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.games</string>
	<key>LSArchitecturePriority</key>
	<array>
		<string>arm64</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NCCRepositoryURL</key>
	<string>https://github.com/B4hjji/night-city-menu-macos</string>
</dict>
</plist>
